<style>
body{
float:left;
}
.navbar{
width:100%;
background:black;
}
.logo{
float:left;
display:inline;
font-family: "Sofia";
font-size: 22px;
padding:7px;

}
.logo-image{
float:left;
display:inline;
width:200px !important;
height:40px;
margin-left:-8px;
margin-top:5px;
}
.img-part{
width:100%;
background-color:white;
float:left;
padding:2px !important;
}
.img-part img{
width:100%;
height:450px;

}
.details-table{
width:100%;
float:left;
margin-top:20px;
background-color:white !important;
}
.details-table b{
text-align:center;
text-decoration:underline;
padding:40px;
font-size:35px;
align:center;

}
.left{
float:left;
width:50%;
background-color:#333;
height:60px;
color:white;
}
.right{
float:right;
width:50%;
height:60px;
background-color:#333;
}
.listing {
  list-style-type: list;
  list-style: square inside url("sqpurple.gif");
  margin: 0;
  padding-left: 100px;
  overflow: hidden;
  background-color: white !important;
}

.list {
 padding-top:20px;
 
}

.right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  float:left;
  width:100%;
  display:inline;
}

.right li {
  float: right;
 
}

.right li:last-child {
  border-right: none;
}

.right li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.right li a:hover:not(.active) {
  background-color: #111;
}

.active {
  color: blue !important;
}
.footer {
  text-align: center;
  padding: 13px;
  background-color: #333;
  color: white;
  height:70px;
  float:left;
  width:100%;
  margin-top:100px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding:15px;
  margin-left:45px;
}
* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password],input[type=date],select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=radio]{
display: inline-block;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
</style>

Got it, thanks!Thanks a lot.Received, thank you.
